## SEABORN
Seaborn is a data visualization library built on top of Matplotlib. It is often used because it makes attractive visualizations and works easily with Pandas. While in Matplotlib you often had to write multiple lines of code to create a plot Seaborn makes assumptions on what you want which often translates into getting the same plot with 1 line of code

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

**Import data**

In [22]:
# You can import custom data
cs_df = pd.read_csv('ComputerSales.csv')

# Seaborn provides built in datasets
print(sns.get_dataset_names())

# Load a built in dataset based on US State car crash percentages
penguins = sns.load_dataset('penguins')
penguins.head()

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'dowjones', 'exercise', 'flights', 'fmri', 'geyser', 'glue', 'healthexp', 'iris', 'mpg', 'penguins', 'planets', 'seaice', 'taxis', 'tips', 'titanic']

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [ ]:
# Count of different species and island
print(penguins["species"].value_counts())
print(penguins["island"].value_counts())

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64
island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

**The way of styling themes are as follows:** 

**Syntax : sns.set_style("white")**

1. white
2. dark
3. whitegrid
4. darkgrid
5. ticks

**set_context() : allows us to override default parametres. This affect the things like size of labels, lines and other elements of the plot, but not overall style. The context are:**

1. paper -> small elemnt , ideal for printing in academic papers.
2. notebook -> medium size, good for working inside jupyter
3. talk -> Large text and lines, good for slides
4. poster -> Very large elements, suitable for large display

**palette : used for seting colors**
1. Set 1 : bright and high contrast colors : 9
2. Set 2 : Softer, more pastel like colors : 8
3. Set 3 : A mix of soft and bold, varied hues : 12

**Also have paraeters**
1. deep : Default palette, rich and balanced
2. muted : Softer colors, good for categories
3. bright : High contrast, bold colors
4. pastel : Soft, pale tones
5. dark : Darker tones
6. colorblind : optimized for colorbling

**Palette Type:**
1. Qualitative : Categorial in nature, colour asssigned to each group must be distinct.
2. Sequential : Data with ordered progression (low -> high)
3. Diveging : Data with a meaningful midpoint or mixed values